# Getting Started with Python

### Hi, python is the hero of programming languages now a days. Everyone here is excited to learn python. But, the one who knows are not sure about it and know that they haven't learnt all in and out of this language yet. We learn python, its data types, then go to libraries like pandas, numpy, then to data visualisation, machine learning, python developement and everything we can. ###

#### While following "Learn as much you can" we get into the stage where we learn new, BUT, dont know what we learnt in pas. It's "age path piche sapat" thing.

Before starting learning Python, here are some tips of using Jupyter Notebook. (Shortcuts)

1. Esc : To swithc to command mode
2. Esc (1 - 6) : Make the cell as heading 1, 2, 3, 4, 5, 6
3. Esc M : Make Markdown cell
4. Esc Y : Change cell to code cell
5. Esc A : To add cell above
6. Exc B : To add cell below
7. Shift M : Merge cells

(Please use these to become comfortable with jupyter notebbok)

PS: Want to know other shortcuts? Please dont Google. On menu bar, see a keyboard sign, click on it, you will get the shortcuts there.

Let's head toward's something amazing. First programe, "HELLO WORLD !", Yes, we are here.

## Hello, world !

In [1]:
print("Hello, World!")

Hello, World!

## Taking Input in Python

In [262]:
name = input("Enter name:")
print("Hi, " + name)

Enter name:Urvi
Hi, Urvi

## Variables in  python

Variables aren't declared in python. Data type is chosen automatically according to the variable we define

A line is commented using '#' . Multiple lines are commented using ''' comments '''

In [2]:
a = 5
print(type(a))

<class 'int'>

In [3]:
b = 'Hi, its Urvi Jain'
print(type(b))

<class 'str'>

In [4]:
# Type Casting

print(str(a))
print(int(a))
print(float(a))

5
5
5.0

In [5]:
u = 'urvi'
U = 'Urvi'

In [6]:
print(u)
print(U)

#see, both are cprrect, i.e variable names are cae sentitive

urvi
Urvi

Different cases for variable name:
    
    camelCase
    PascalCase
    snake_case

## Many values to multiple variables:

In [7]:
a,b,c = 'apple', 'banana', 'camel'

In [8]:
print(a,b,c)
print(a)
print(b)
print(c)

apple banana camel
apple
banana
camel

## One value to many variables

In [9]:
a = b = c = 'letters'

In [10]:
print(a,b,c)

letters letters letters

## Unpacking of collection

In [11]:
languages = ['cpp', 'go', 'r', 'python']
a, b, c, d = languages
print(a,b,c,d)

cpp go r python

## Managing the output

In [12]:
name = "Urvi"
surname = "Jain"
print("Hi, my name is" , name, "Jain")

Hi, my name is Urvi Jain

In [13]:
print(name + " " + surname)

Urvi Jain

In [14]:
# Note: you can't join string by + having one string and one integer:

In [15]:
a = 28
states = "States in India"
print(a + states)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
# The valid output formatting is:;

print(a, states)

28 States in India

## Global Variables in python

In [17]:
x = 3

def fun():
    print("The number is ", x)

fun()

The number is  3

In [18]:
x = 3

def fun():
    x=4
    print("The number is ", x)

fun()

The number is  4

In [19]:
def fun():
    global x
    x = 10
    print("In fun ", x)

def fun2():
    print("In fun 2", x)


print("Outside 1" , x)
fun()
print("Outside 2" , x)
fun2()
x = 11
print("Outside 3" , x)

Outside 1 3
In fun  10
Outside 2 10
In fun 2 10
Outside 3 11

In [20]:
def fun():
    global x
    x = 10
    print("In fun ", x)

def fun2():
    print("In fun 2", x)


print("Outside 1" , x)
fun()
print("Outside 2" , x)
fun2()
print("Outside 3" , x)

Outside 1 11
In fun  10
Outside 2 10
In fun 2 10
Outside 3 10

## Python Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

In [21]:
x="hi"
print(type(x))

<class 'str'>

In [22]:
x=20
print(type(x))

<class 'int'>

In [23]:
x=20.3
print(type(x))

<class 'float'>

In [24]:
x=20j + 5
print(type(x))

<class 'complex'>

In [25]:
x=20j
print(type(x))

<class 'complex'>

In [26]:
x=['a', 'b', 'c']
print(type(x))

<class 'list'>

In [27]:
x=('a', 'b', 'c')
print(type(x))

<class 'tuple'>

In [28]:
x={'a', 'b', 'c'}
print(type(x))

<class 'set'>

In [29]:
x={1 :'a',2: 'b',3: 'c'}
print(type(x))

<class 'dict'>

In [30]:
x= range(9)
print(type(x))

<class 'range'>

In [31]:
x = frozenset({"a", "b", "c"})
print(type(x))

<class 'frozenset'>

In [32]:
x = True
print(type(x))

<class 'bool'>

In [33]:
x = b"hi"
print(type(x))

<class 'bytes'>

In [34]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [35]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

## Working with numerical data types in python

In [36]:
x = 3e3
y = 1E4
z = -3.14e10

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [37]:
# Complex numbers:

a = 1j + 2
b = 2j + 4

print(a+b)

(6+3j)

In [38]:
# conversion from int to complex:

a = 1
print(complex(a))

(1+0j)

###### NOTE: We can not convert complex number to other data type except string

In [39]:
a = 1j + 3
print(str(a))

(3+1j)

## Random Numbers, working with random module, here giving just an idea of generating random numbers

random.randint(a,b) returns random numbers between a and b inclusive

In [40]:
import random
random.randint(1,10)

2

In [41]:
print(random.random())
print(random.random())
print(random.random())

0.10531197275813775
0.7076003254450288
0.2022244803043629

## Working with python strings

In [42]:
a = 'Urvi'

In [43]:
print(a)

Urvi

In [44]:
print(a[0])

U

In [45]:
for i in a:
    print (i)

U
r
v
i

In [46]:
print(len(a))

4

In [47]:
s = "Hi, I am Urvi Jain and I am a Python Developer"

In [48]:
print("I" in s)

True

In [49]:
print("V" in s)

False

In [50]:
if "I" in s:
    print("it is there")

it is there

In [51]:
if "V" not in s:
    print("it is not there")

it is not there

###### Summary for Strings yet:

1. type string
2. reading string through index
3. looping through string
4. len(string)
5. if: in and not in

##### More String Functions:

In [52]:
a = 'abcdefghi'
print(a[1:5])  # This includes (1,5] i.e indexing from 1, it do not include last mentioned number. 
# It takes (from,to-1)

bcde

In [53]:
print(a[-4:-1])  # Similary with negetive indexes, start to end-1

fgh

In [54]:
a.upper()

'ABCDEFGHI'

In [55]:
p = "QWERTY"
p.lower()

'qwerty'

In [56]:
strip_it ="   Hi   "
strip_it.strip()

'Hi'

In [57]:
strip_it.replace("H", "A").strip()

'Ai'

In [58]:
a = "This is the string"
a.split(" ")

['This', 'is', 'the', 'string']

In [59]:
# String Concatenation

u = "Urvi"
j = " Jain"

print(u+j)

Urvi Jain

In [60]:
exp = 0
txt = "My name is urvi, and I have {} years of experience"
print(txt.format(exp))

My name is urvi, and I have 0 years of experience

In [61]:
q = 3
cost = 12
bill = "I bought {} bananas for {} rupees."
print(bill.format(q, cost))

I bought 3 bananas for 12 rupees.

In [62]:
q = 3
cost = 12
bill = "I bought {1} bananas for {0} rupees."
print(bill.format(cost, q))

I bought 3 bananas for 12 rupees.

## Summary of String methods used yet

1. type string
2. reading string through index
3. looping through string
4. len(string)
5. if: in and not in
6. SLicing (from, end) : from to end-1
7. .upper()
8. .lower()
9. .strip()
10. .split('character')
11. .replace("from", "to")
12. concatenate using '+'
13. .format(variable_name), and string is written or printed with {}

https://www.w3schools.com/python/python_ref_string.asp

## Boolean

In [63]:
print(1 >2)

False

In [64]:
print(bool("hi"))

True

In [65]:
# Almost every value is True instead of:

In [66]:
print(bool(False), bool(None), bool(0), bool(""), bool(()),bool([]), bool({}))

False False False False False False False

In [67]:
# isinstance is used to check if variable belong to that data type

x = 10
print(isinstance(x, int))

True

## Operators

Arithmetic:

+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y


Assignment:

=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3

Comparision:

==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y	


Logical:

and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)


Identity:

is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y

Membership:

in 	Returns True if a sequence with the specified value is present in the object	x in y	
not in	Returns True if a sequence with the specified value is not present in the object	x not in y

Bitwise:

& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

## Python Lists

Python lists are array type data type. 
It is used to store multiples values on the name of single variable.
It is indexed
Allows duplicates
Mutble (Can be changed)
Can store elements with different data types

In [68]:
languages = ['Python', 'C++', 'Java', 'R', 'Go']

In [69]:
languages

['Python', 'C++', 'Java', 'R', 'Go']

In [70]:
languages[0]

'Python'

In [71]:
for i in languages:
    print(i)

Python
C++
Java
R
Go

In [72]:
languages = [1, 'Python', 2, 'Java', 'Java']

In [73]:
# We can also use list constructor to make a list:

letters = list(("a", "b", "c"))
letters

['a', 'b', 'c']

In [74]:
print(len(letters))

3

In [75]:
letters[-1]

'c'

In [76]:
if 'c' in letters:
    print("C is present")

C is present

In [77]:
if 's' not in letters:
    print("S isnt present")

S isnt present

In [78]:
letters[1] = 'B'
print(letters)

['a', 'B', 'c']

In [79]:
letters = letters + ['d', 'e', 'f']

In [80]:
letters

['a', 'B', 'c', 'd', 'e', 'f']

In [81]:
letters[-1:-5] = ['C', 'D', 'E', 'F']

In [82]:
letters

['a', 'B', 'c', 'd', 'e', 'C', 'D', 'E', 'F', 'f']

In [83]:
keys = ['q', 'w', 'e' , 'r']

In [84]:
keys [:2] = 'a'
keys

['a', 'e', 'r']

In [85]:
keys = [1,2,3,4,5,6]
keys.insert(1, "Inserted element")
keys

[1, 'Inserted element', 2, 3, 4, 5, 6]

In [86]:
keys.append(7)
keys

[1, 'Inserted element', 2, 3, 4, 5, 6, 7]

In [87]:
keys1 = [8,9,10,11]

In [88]:
keys.extend(keys1)
keys

[1, 'Inserted element', 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [89]:
keys.remove(7)
keys

[1, 'Inserted element', 2, 3, 4, 5, 6, 8, 9, 10, 11]

In [90]:
keys.pop(0)

1

In [91]:
keys.pop()

11

In [92]:
del keys[0]

In [93]:
keys

[2, 3, 4, 5, 6, 8, 9, 10]

In [94]:
friends = ['Phebe', 'Chandeler', 'Mon', 'Joey', 'Rach', 'Ross']
for i in range(len(friends)):
    print(i)
    print("names: ", friends[i])

0
names:  Phebe
1
names:  Chandeler
2
names:  Mon
3
names:  Joey
4
names:  Rach
5
names:  Ross

In [95]:
i=0
while i<len(friends):
    print(friends[i])
    i = i+1

Phebe
Chandeler
Mon
Joey
Rach
Ross

In [96]:
for i in friends:
    print(i)

Phebe
Chandeler
Mon
Joey
Rach
Ross

In [97]:
# list comprehension

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [98]:
friends.sort()
friends

['Chandeler', 'Joey', 'Mon', 'Phebe', 'Rach', 'Ross']

In [99]:
friends.sort(reverse = True)
friends

['Ross', 'Rach', 'Phebe', 'Mon', 'Joey', 'Chandeler']

In [100]:
# Sort the list based on how close the number is to 50:

def fun(n):
  return abs(n - 30)

l = [12, 43, 65, 76, 233, 75, 76]
l.sort(key = fun)
print(l)

[43, 12, 65, 75, 76, 76, 233]

In [101]:
# Someimes, in sorting, caseof starting etter can give bad results

l = ["banana", "Orange", "Kiwi", "cherry"]
l.sort()
print(l)

['Kiwi', 'Orange', 'banana', 'cherry']

In [102]:
# Thus, we can have a key which ensure changing string t lower or upper before sorting

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [103]:
a = [1,22,21,43,12,34]
a.reverse()
print(a)

[34, 12, 43, 21, 22, 1]

In [104]:
a = [1,2,3]
b = [4,5,6]
for i in b:
    a.append(i)
a

[1, 2, 3, 4, 5, 6]

In [105]:
c = b + b

In [106]:
c

[4, 5, 6, 4, 5, 6]

In [107]:
c = [1.2,3]
d = [4,5,6]
c.extend(d)
c

[1.2, 3, 4, 5, 6]

https://www.w3schools.com/python/python_lists_methods.asp

### Summary of Lists

1. len(list_name)
2. access by index
3. can store different data types
4. mutable
5. follow negative indexing and slicing
6. in and not in operators work on it.
7. values can be reassigned easily using index as in arrays
8. Reassingment can be done in group using slicing (:)
9. We can also replace a slot by single elements through slicing
10. .insert() (index, "element")
11. .append() (to add at the end)
12. list1.extend(list2)  to join two lists or a list and a tuple
13. .remove() (remove an element)
14. .pop() (to fetch by index, if not given argumet, pops last element)
15. del list_name[index] also delets the element
16. .clear() 
17. one can traverse a list by for, while and for (in range)
18. list comprehension:    newlist = [expression for item in iterable if condition == True]
19. .sort(), .sort(reverse = True)
20. .reverse to reverse the list
21. .copy to copy the list into other list

## Tuples in python

immutable python data types
ordered and declared with ()

In [108]:
friends = ('Rachel', 'Joey', 'Chandler', 'Monica', 'Phebe', 'Ross')
for i in friends:
    print(i)

Rachel
Joey
Chandler
Monica
Phebe
Ross

In [109]:
for i in range(len(friends)):
    print(friends[i])

Rachel
Joey
Chandler
Monica
Phebe
Ross

In [110]:
i = 0
while(i < len(friends)):
    print(friends[i])
    i=i+1

Rachel
Joey
Chandler
Monica
Phebe
Ross

In [111]:
if 'Mike' not in friends:
    print("Mike and Pheebe are friends")

Mike and Pheebe are friends

In [112]:
# to do any change into tuple, we need to change it to list first

In [113]:
friends=list(friends)

In [114]:
friends[0] = 'Rach'
friends = tuple (friends)

In [115]:
friends

('Rach', 'Joey', 'Chandler', 'Monica', 'Phebe', 'Ross')

In [116]:
type(friends)

tuple

In [117]:
# for any addition, sub, change, we need to convert it to list, then changes are to be done, then to tupl

###### Unpacking of tuples

In [118]:
fruits = ("apple", "banana", "chiku")
(a, b, c) = fruits
print(a)
print(b)
print(c)

apple
banana
chiku

In [119]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [120]:
friends = friends * 2

In [121]:
friends

('Rach',
 'Joey',
 'Chandler',
 'Monica',
 'Phebe',
 'Ross',
 'Rach',
 'Joey',
 'Chandler',
 'Monica',
 'Phebe',
 'Ross')

In [122]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
t3

(1, 2, 3, 4, 5, 6)

https://www.w3schools.com/python/python_tuples_methods.asp

#### Summary of Tuples

1. len
2. tuple to list to tuple
3. multiply by tuple * 2 (any number)
4. can unpack also
5. can add with +

## Sets in Python

UNORDERED and UNINDEXED
Duplicates ARE NOT allowed
Do not support indexing

In [123]:
friends = {'Rachel', 'Joey', 'Chandler', 'Monica', 'Phebe', 'Ross'}
friends

{'Chandler', 'Joey', 'Monica', 'Phebe', 'Rachel', 'Ross'}

In [124]:
for i in range(len(friends)):
    print(friends[i])
    
# wont work because it do not support indexing

TypeError: 'set' object does not support indexing

In [125]:
for i in friends:
    print(i)

Phebe
Monica
Chandler
Joey
Rachel
Ross

In [126]:
numbers = set ((1,2,3))

In [127]:
numbers

{1, 2, 3}

In [128]:
print(1 in numbers)

True

In [129]:
numbers.add(4)

In [130]:
numbers

{1, 2, 3, 4}

In [131]:
set1 = {1,2,3}
set2 = {4,5,6}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6}

In [132]:
set1 = {1,2,3}
tuple1 = (4,5,6)

set1.update(tuple1)

print(set1)

{1, 2, 3, 4, 5, 6}

In [133]:
set1.remove(2)
set1

{1, 3, 4, 5, 6}

In [134]:
set1.remove(2)

KeyError: 2

In [135]:
set1.discard(2)

In [136]:
set1.pop()


# this can give different result everytim because set is unordered and changes the order frequently

1

In [137]:
set1.clear()

In [138]:
set1

set()

In [139]:
del set1

In [140]:
set1

NameError: name 'set1' is not defined

In [141]:
set1 = {1,2,3,4}
set2 = {4,5,6}
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6}

In [142]:
set1 = {1,2,3,4}
set2 = {4,5,6}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 6}

In [143]:
set1 = {1,2,3,4,5}
set2 = {4,5,6}
set1.intersection_update(set2)
set1

{4, 5}

In [144]:
set1 = {1,2,3,4,5}
set2 = {4,5,6}
set1.symmetric_difference_update(set2)
set1

{1, 2, 3, 6}

In [145]:
set1 = {1,2,3,4,5}
set2 = {4,5,6}
set3 = set1.intersection(set2)
set3

{4, 5}

In [146]:
set1 = {1,2,3,4,5}
set2 = {4,5,6}
set3 = set1.symmetric_difference(set2)
set3

{1, 2, 3, 6}

#### Summary of Sets


https://www.w3schools.com/python/python_sets_methods.asp

1. Unordered, unindexed and repetition not allowed
2. .add()
3. len(set_name)
4. set1.update(Set2) adds set2 after set1
5. set1.update(set2) adds any iterable (tuple, list) at end
6. .remove(element) removes the element
7. .discard(element)   
8. .pop() shows last element
9. .clear()
10. del set_name
11. =set1.union(set2) : joins sets, remove repetition, returns set
12. set1.update(set2) : insert set2 elements to set2
13. set1.intersection_update(set2) : store only duplicate values 
14. =set1.intersection(set2) : store only duplicate values, returns set
15. set1.symmetric_difference_update(set2) : keep all but no duplicate value
16. =set1.symmetric_difference(set2) : returns values which are uncommon in both sets, not duplicate

NOTE: remove shows an error if element do not exist, discard do not shows error

## Python Dictionaries

In [147]:
friends = {'Mon' : 'Chandeler', 'Rach': 'Ross', 'Joey': 'Sandwiches', 'Phebe': 'Mike'}
friends

{'Mon': 'Chandeler', 'Rach': 'Ross', 'Joey': 'Sandwiches', 'Phebe': 'Mike'}

In [148]:
for i in friends:
    print(i)

Mon
Rach
Joey
Phebe

In [149]:
friends['Joey']

'Sandwiches'

In [150]:
print(len(friends))

4

In [151]:
friends['Phebe'] = 'Smelly Cat'
friends

{'Mon': 'Chandeler',
 'Rach': 'Ross',
 'Joey': 'Sandwiches',
 'Phebe': 'Smelly Cat'}

In [152]:
friends['Joey'] = ['Sandwiches', 'Pizza', 'Hugsy']
friends

{'Mon': 'Chandeler',
 'Rach': 'Ross',
 'Joey': ['Sandwiches', 'Pizza', 'Hugsy'],
 'Phebe': 'Smelly Cat'}

In [153]:
x=friends.get('Rach')
x

'Ross'

In [154]:
k = friends.keys()
v = friends.values()


print(k)

print(v)

dict_keys(['Mon', 'Rach', 'Joey', 'Phebe'])
dict_values(['Chandeler', 'Ross', ['Sandwiches', 'Pizza', 'Hugsy'], 'Smelly Cat'])

In [155]:
print(friends.items())

dict_items([('Mon', 'Chandeler'), ('Rach', 'Ross'), ('Joey', ['Sandwiches', 'Pizza', 'Hugsy']), ('Phebe', 'Smelly Cat')])

In [156]:
if 'Joey' in friends:
    print("Hey Joey")

Hey Joey

In [157]:
friends.update({'Rach' : 'Ross and Ema'})
friends

{'Mon': 'Chandeler',
 'Rach': 'Ross and Ema',
 'Joey': ['Sandwiches', 'Pizza', 'Hugsy'],
 'Phebe': 'Smelly Cat'}

In [158]:
friends.pop('Phebe')
friends

{'Mon': 'Chandeler',
 'Rach': 'Ross and Ema',
 'Joey': ['Sandwiches', 'Pizza', 'Hugsy']}

In [159]:
friends.update({'Phebe': 'Mike'})
friends

{'Mon': 'Chandeler',
 'Rach': 'Ross and Ema',
 'Joey': ['Sandwiches', 'Pizza', 'Hugsy'],
 'Phebe': 'Mike'}

In [160]:
friends.popitem()
friends

# this removes last added item

{'Mon': 'Chandeler',
 'Rach': 'Ross and Ema',
 'Joey': ['Sandwiches', 'Pizza', 'Hugsy']}

In [161]:
for i in friends.values():
    print(i)

Chandeler
Ross and Ema
['Sandwiches', 'Pizza', 'Hugsy']

In [162]:
for i in friends.keys():
    print(i)

Mon
Rach
Joey

In [163]:
friends1 =friends.copy()
friends1

{'Mon': 'Chandeler',
 'Rach': 'Ross and Ema',
 'Joey': ['Sandwiches', 'Pizza', 'Hugsy']}

In [164]:
friends2 = dict(friends)
friends2

{'Mon': 'Chandeler',
 'Rach': 'Ross and Ema',
 'Joey': ['Sandwiches', 'Pizza', 'Hugsy']}

In [165]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [166]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [167]:
myfamily1 = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [168]:
myfamily1

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [169]:
myfamily1.clear()
myfamily1

{}

In [170]:
del myfamily1

#### Summary of Dictionary

1. {a:b}
2. for loop gives keys
3. .keys()
4. .values()
5. .items()
6. len(dict_name)
7. d['key']   returns values
8. .update({a:b})
9. we can update easily by d['key']=value
10. .pop(key)
11. .popitem()  pop random item
12. in and not in works
13. .get(key) fetch value for that key //if the given key doesn't exist then it will return none
14. dict[key] also fetch value for that key//if the given key doesn't exist then it will throw an error 
15. .copy()
16. dict() constructor
17. we can have a list as value for keys
18. nested dicts are also possible
19. .clear
20. del dict_name

https://www.w3schools.com/python/python_dictionaries_methods.asp

## If Else in Python

In [171]:
a=1
b=2
if(a==b):
    print("E")
elif(a>b):
    print("a is G")
else:
    print("a is S")

a is S

In [172]:
print("a is S") if a<b else print("a is G")

a is S

In [173]:
if(a<b) : print("a is S")

a is S

In [174]:
a = 30
b = 30
print("A") if a > b else print("=") if a == b else print("B")

=

and and or also works in conditions

## While loop

In [175]:
i = 0
while(i<5):
    print(i)
    i=i+1

0
1
2
3
4

In [176]:
i = 0
while i < 5:
  print(i)
  if i == 3:
    break
  i += 1

0
1
2
3

In [177]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## For loop in python

In [178]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

For loop is used in accessing sets, arrays, lists, dictionary and tuples

## Functions in Python

In [180]:
def hi():
    print("hi")
hi()

hi

In [181]:
def hi(name):
    print("hi ", name)
hi('vishal')
hi('Adi')

hi  vishal
hi  Adi

In [184]:
def hi(*name):
    print("hi", name[0], "hi", name[1])
hi('vishal', 'Adi')

hi vishal hi Adi

In [185]:
def hi(name, friends):
    print("hi ", name)

hi('Adi', 'Joey')

hi  Adi

In [186]:
# for unknown number of keyword arg:

def my_function(**name):
  print("My last name is " + name["lname"])

my_function(fname = "Urvi", lname = "Jain")

My last name is Jain

In [187]:
def hi(name='Vishal'):
    print("hi ", name)

hi('Adi')
hi()

hi  Adi
hi  Vishal

In [189]:
def hi():
    pass
hi()

# pass is used when we dont have any definition for function

In [190]:
# We can also pass and return other data types like lists, sets, tuples, dict
# Also, we can recurese a function same as other languages in python

## Lambda Function in Python

It is a small anonymous function. One liner and one expression only

In [191]:
x = lambda a : a ** 2
print(x(4))

16

In [192]:
x = lambda a : print(a ** 2)
x(4)

16

In [193]:
x = lambda a,b : a * b
print(x(4,5))

20

## Classes and Objects in Python

In [196]:
class x:
    a=1
    b='Hi'
    
obj_x = x()

print(obj_x.a)
print(obj_x.b)

1
Hi

In [197]:
# __init__ is used as a constructor, i.e to assign values to variables

In [207]:
class Person():
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
    
    def say_hi(self):
        print("Hi,", self.fname+self.lname)
    
    def say_hi_e(self,e):
        print("hi everyone")
        
p1 = Person("Monica ", 'Geller')

print(p1.fname)
print(p1.lname)
p1.say_hi()
p1.say_hi_e("everyone")

Monica
Geller
Hi, Monica Geller
hi everyone

## Inheritence

In [211]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)


class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year
  def printname(self):
    print(self.firstname, self.lastname, "hi")

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()
x = Student("Mike", "Olsen", 2019)
x.printname()

John Doe
Mike Olsen hi

In [213]:
# super() function will make the child class inherit all the methods and properties from its parent:


class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [214]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [215]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2019)
x.welcome()

Welcome Mike Olsen to the class of 2019

In [ ]:
To make a list of Objects and to print the object in ascending order of any one of it's attribute ..lets say age in
this example

In [3]:
class Movie():
    def __init__(self,id,name,age):
        self.id=id
        self.name=name
        self.age=age
n=int(input())
ls=[]                 
for i in range(n):
   id=int(input())
   name=input()
   age=int(input())
   ls.append(Movie(id,name,age))
ls.sort(key=lambda x:x.age)
for i in ls:
    print(f"age :{i.age} \n name :{i.name} \n id :{i.id}")   
    
    ''' input:
      3
      11
      shubh
      22
      55
      moni
      19
      25
      abhi
      55 
'''

age :19
 name :moni
 id :55
age :22
 name :shubh
 id :11
age :55
 name :abhi
 id :25

## Iterators

Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

In [216]:
t = ("a", "b", "c")
i = iter(t)

print(next(i))
print(next(i))
print(next(i))

a
b
c

In [219]:
t = "Urvi"
i = iter(t)

print(next(i))
print(next(i))
print(next(i))
print(next(i))

U
r
v
i

## Modules in Python

We can create a file, make functions in them, then import the file(this will be our module), and use the functions of that file using file_name.function()
Similar to function, we can even import variables, lists, tuples, sets, dict etc

we can also rename modules and make alias like

import my_module as m

In [221]:
# dir(my_module)

# this prints every name listed in our module

In [222]:
import pandas as pd

In [224]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Panel',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseArray',
 'SparseDataFrame',
 'SparseDtype',
 'SparseSeries',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__Datetime',
 '__DatetimeSub',
 '__SparseArray',
 '__SparseArraySub',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__numpy',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p16',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'datetime',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'np',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

## Dates in Python

In [225]:
import datetime

x = datetime.datetime.now()
print(x)

2021-04-15 00:29:35.378744

In [232]:
print(x.year)

2021

In [233]:
print(x.day)

15

In [234]:
print(x.month)

4

In [235]:
x = datetime.datetime(1998, 12, 30)

print(x)

1998-12-30 00:00:00

In [239]:
x = datetime.datetime(2020, 2, 12)

print(x.strftime("%B"))

February

Directive	Description	and example
%a	Weekday, short version	Wed	
%A	Weekday, full version	Wednesday	
%w	Weekday as a number 0-6, 0 is Sunday	3	
%d	Day of month 01-31	31	
%b	Month name, short version	Dec	
%B	Month name, full version	December	
%m	Month as a number 01-12	12	
%y	Year, short version, without century	18	
%Y	Year, full version	2018	
%H	Hour 00-23	17	
%I	Hour 00-12	05	
%p	AM/PM	PM	
%M	Minute 00-59	41	
%S	Second 00-59	08	
%f	Microsecond 000000-999999	548513	
%z	UTC offset	+0100	
%Z	Timezone	CST	
%j	Day number of year 001-366	365	
%U	Week number of year, Sunday as the first day of week, 00-53	52	
%W	Week number of year, Monday as the first day of week, 00-53	52	
%c	Local version of date and time	Mon Dec 31 17:41:00 2018	
%x	Local version of date	12/31/18	
%X	Local version of time	17:41:00	
%%	A % character	%	
%G	ISO 8601 year	2018	
%u	ISO 8601 weekday (1-7)	1	
%V	ISO 8601 weeknumber (01-53)	01

## Math module in python

Simple function to use:
    
https://www.w3schools.com/python/module_math.asp

In [240]:
import math
print(math.sqrt(2))

1.4142135623730951

In [242]:
print(math.pi)

3.141592653589793

In [245]:
a=[1,2,3]
print(min(a))
print(max(a))

1
3

In [246]:
print(abs(-12))

12

In [248]:
print(math.ceil(0.98))
print(math.floor(0.93))

1
0

## Python JSON

From Json to python : LOADS
From Python to JSON : DUMPS

In [254]:
import json

x =  '{ "name":"Urvi", "age":22, "city":"Dallas"}'

person = json.loads(x)

print(person["age"])
print(person)
print(type(person))

22
{'name': 'Urvi', 'age': 22, 'city': 'Dallas'}
<class 'dict'>

In [255]:
# convert into JSON:
y = json.dumps(person)

# the result is a JSON string:
print(y)
print(type(y))

{"name": "Urvi", "age": 22, "city": "Dallas"}
<class 'str'>

## Exception Handling in Python

The try block test a block of code for errors.

The except block handle the error.

The finally block execute code, regardless of the result of the try- and except blocks.

In [259]:
x=10

try:
  print(x)
except:
  print("An exception occurred")
finally:
    print("done")

10
done

In [261]:
x=10

try:
  print(x/0)
except:
  print("Division by 0 exception")
finally:
    print("done")

Division by 0 exception
done

## File Handling in Python

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

Four modes are:
    
"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In [265]:
# For reading, just mention name in open()

# f=open("file_name.txt")

# for different purposes, we can specify the mode as well, after ',' in open()

In [269]:
# to read the file, we use .read()

# f = open("name.txt", r)

# f.read()

In [270]:
# f = open("filename", x) 
# Creates file

In [271]:
# import os
# os.remove("filename.txt")

## Summary of File Handling

1. .read(5) #read 5 characters of starting only
2. .readline() # read a line, need to call again and again for multiple number of lines
3. for x in f : (loop through line)
4. .open()
5. .close()
6. modes: r,w,a,x
7. os module: os.remove("file_name")

### This revision notebook ends here, but python do not. Thus, numpy, arrays, pandas, regex, and other important must know modules these will be covered in different notebooks

# THE END